nav {
	position:fixed; 
	top: 0; 
	left: 0; 
	width: 98%; 
	padding: 5px 15px; 
	background-color: #777; 
	font-family: 'Comic Sans MS', 
	sans-serif; 
	color:#EDEDED; 
	overflow: hidden; 
	z-index: 999;
	border-radius: 15px;
}

body {
	margin-top: 35px; 
	font-family: 'Comic Sans MS', sans-serif; 
	overflow-y: auto;
}

ul {
	top: 0; 
	left: 18%; 
	margin:0; 
	position: fixed; 
	display: block; 
	text-align: center; 
	padding: 5px 15px; 
	background-color:#EDEDED; 
	color: #777; 
	list-style:none;
	border-radius: 15px;
}

li {
	display: inline; 
	cursor:pointer;
}

/*
 * Marcação do slideshow
 */
#slide { 
	width: 650px;
	overflow: hidden; 
	height: 540px;
	margin: 50px auto;
	box-shadow: 0 0 8px #000;
	position: relative;
}

#slide img {
	position: absolute;
	z-index: 1;
	display: none;
	left: 0;
    max-width: 100%;
    max-height: 100%;
}

#slide p {
	z-index:2;
	position: absolute; 
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px; 
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 14px; 
	background: rgba(0,0,0,0.5);
	color: #EDEDED;
}